<table cellpadding="5" cellspacing="0" border="0" width="530" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
    <tr>
        <th width="220" align="left">Produtos</th>
        <th width="90" align="right">Qtd</th>
        <th width="120" align="right">Valor Unitário</th>
        <th width="100" align="right">Valor Total</th>
    </tr>
    {% for product in products %}
        <tr>
            <td valign="middle" align="center" width="220" style="border-bottom:solid 1px #dadada;">
                <table cellpadding="0" cellspacing="3" border="0" width="220" style="font-family:'Lucida Sans Unicode',Arial,Verdana; font-size:12px;">
                    <tr>
                        <td>
                            {% set productImage = "https://assets.lojaskd.com.br" ~ product.prdImglistagem %}
                            {% if product.prdCategoria == 472 %}
                                {% set productImage = "https://assets.lojaskd.com.br/assistencia.jpg" %}
                            {% endif %}
                            <img src="{{ productImage }}" alt="{{ product.prdNome }}" height="150px"/>
                        </td>
                        <td>
                            {{ product.prdNome[0:65] }}

                            {% if product.prdCor %}
                                <br/>{{ product.prdCor }}
                            {% endif %}

                            {% if product.prdTamanho %}
                                <br/>{{ product.prdTamanho }}
                            {% endif %}

                            {% if product.prdFornNome %}
                                <br/>{{ product.prdFornNome }}
                            {% endif %}

                            {% if product.prdReferencia %}
                                <br/>{{ product.prdReferencia }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="middle" align="right" width="105" style="border-bottom:solid 1px #dadada;">
                {{ product.prdQtd }}
            </td>
            <td valign="middle" align="right" style="border-bottom:solid 1px #dadada;">
                {% if product.bpromocao %}
                    de R$ {{ product.prdPvreal|number_format(2, ',', '.') }}<br/> por R$ {{ product.prdPvpromocao|number_format(2, ',', '.') }}
                {% else %}
                    R$ {{ product.prdPvreal|number_format(2, ',', '.') }}
                {% endif %}
            </td>
            <td valign="middle" align="right" style="border-bottom:solid 1px #dadada;">
                {% if product.prdValeCompra %}
                    <div>R$ {{ product.prdValeCompra|number_format(2, ',', '.') }}</div>
                {% endif %}
                {% if product.prdPvtotal %}
                    <div>R$ {{ product.prdPvtotal|number_format(2, ',', '.') }}</div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
