<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>LojasKD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "EmailMessage",
      "description": "Confirme o pagamento do seu pedido",
      "action": {
        "@type": "ViewAction",
        "url": "https://www.lojaskd.com.br/areavip/index.php?utm_source=lojaskd&utm_medium=e-mail&utm_content=Novo_CTA&utm_campaign=transacional",
        "name": "Verifique seu pagamento"
      },
      "publisher": {
        "@type": "Organization",
        "name": "LojasKD",
        "url": "https://lojaskd.com.br",
        "url/googlePlus": "https://plus.google.com/+lojaskd/"
      }
    }

        </script>
    <style type="text/css">
        @media only screen and (max-width: 640px) {
            table table, td[class=full_width] {
                width: 100% !important
            }

            div[class=div_scale], table[class=table_scale], td[class=td_scale] {
                width: 440px !important;
                margin: 0 auto !important
            }

            img[class=img_scale] {
                width: 100% !important;
                height: auto !important
            }

            table[class=spacer], td[class=spacer] {
                display: none !important
            }

            td[class=center] {
                text-align: center !important
            }

            table[class=full] {
                width: 440px !important;
                margin-left: 0 !important;
                margin-right: 0 !important
            }

            table[class=listagem-camp] {
                display: none !important
            }

            table[class=featured_products] {
                width: 400px !important;
                margin-right: 20px !important;
                margin-left: 20px !important
            }

            table[class=one_fourth] {
                width: 85px !important
            }

            td[class=one_fourth] {
                padding: 0 20px !important
            }

            table[class=featured_spacer2], table[class=featured_spacer] {
                width: 20px !important
            }
        }

        @media only screen and (max-width: 479px) {
            table table, td[class=full_width] {
                width: 100% !important
            }

            div[class=div_scale], table[class=table_scale], td[class=td_scale] {
                width: 280px !important;
                margin: 0 auto !important
            }

            img[class=img_scale] {
                width: 100% !important;
                height: auto !important
            }

            table[class=spacer], td[class=spacer] {
                display: none !important
            }

            td[class=center] {
                text-align: center !important
            }

            table[class=listagem-camp] {
                display: none !important
            }

            td[class=descadastrar] {
                display: none !important
            }

            td[class=busca] {
                display: none !important
            }

            td[class=logo-rodape] {
                display: none !important
            }

            td[class=compra] {
                display: none !important
            }

            td[class=icone-compra] {
                display: none !important
            }

            td[class=preferencias] {
                display: none !important
            }

            td[class=visualizar] {
                display: none !important
            }

            td[class=adicione] {
                display: none !important
            }

            img[class=especial] {
                display: none !important
            }

            a[class=modulados] {
                display: none !important
            }

            td[class=logo-topo] {
                padding-left: 14px !important
            }

            td[class=link-visualizar] {
                padding-left: 15px !important
            }

            table[class=full] {
                width: 280px !important;
                margin-left: 0 !important;
                margin-right: 0 !important
            }

            td[class=box_txt] {
                width: 280px !important;
                margin-left: 0 !important;
                margin-right: 0 !important;
                padding-right: 15px !important;
                padding-left: 15px !important;
            }

            table[class=featured_products] {
                width: 240px !important;
                margin-right: 20px !important;
                margin-left: 20px !important
            }

            table[class=one_fourth] {
                width: 110px !important;
                display: block !important;
                margin-top: 20px !important
            }

            td[class=one_fourth] {
                padding: 0 20px !important
            }

            table[class=featured_spacer] {
                width: 20px !important
            }

            table[class=featured_spacer2] {
                display: none;
                margin-top: 20px !important
            }
        }
    </style>

</head>

<body bgcolor="#f2f2f2" style="margin:0; padding:0; background-color: #f2f2f2;">
<table width="100%" bgcolor="#f2f2f2" border="0" cellpadding="0" cellspacing="0" align="center" style="background-color: #f2f2f2;">
    <tbody>
        <tr>
            <td>
                <!--Topo-->
                <table class="table_scale" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tbody>
                    <tr>
                        <td>
                            <table class="table_scale" border="0" cellpadding="0" cellspacing="0" width="650" align="center" style="border-bottom: 1px solid #e6e6e6;">
                                <tbody>
                                <tr>
                                    <td height="30" align="left" style="font-size: 11px; font-family: Helvetica, Arial, sans-serif; color: #4d4d4d;">
                                        O primeiro passo da sua decora&ccedil;&atilde;o
                                    </td>
                                    <td height="30" align="right" style="font-size: 11px; font-family: Helvetica, Arial, sans-serif; color: #4d4d4d;">
                                        Adicione <a href="mailto:sac@lojaskd.com.br" style="color: #197ed2; text-decoration:none;">sac@lojaskd.com.br</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="logo" border="0" cellpadding="0" cellspacing="0" width="650" align="center">
                                <tbody>
                                <tr>
                                    <td height="58" align="center" style="padding-top: 25px; padding-bottom: 20px;">
                                        <a href="http://www.lojaskd.com.br?utm_source=lojaskd&utm_medium=e-mail&utm_content=Novo&utm_campaign=transacional"
                                           target="_blank" style="text-decoration:none">
                                            <img src="http://assets.lojaskd.com.br/campanhas/2014/Newsletter/Responsivo/email_novo/Logo.png" alt="LojasKD" width="184" height="58">
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--Topo-->

                <!--Content-->
                <table class="table_scale" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tbody>
                    <tr>
                        <td>

                            <!--Conversa-->
                            <table class="table_scale" border="0" cellpadding="0" cellspacing="0" width="650" align="center">
                                <tbody>
                                    <tr>
                                        <td width="650">
                                            <table width="650" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" style="background-color: #fff;">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" valign="middle" style="padding:20px 30px 20px 15px;font-size:12px;color:#4d4d4d;font-family:Helvetica;line-height:15px; text-align:center; background-color:#fff;">
                                                            <span>
                                                                <font style="font-size:20px; color:#4d4d4d;line-height:2;">
                                                                    Ol&aacute;
                                                                </font>
                                                                <font style="font-size:20px; color:#4d4d4d; font-weight:bold; line-height:2;">
                                                                    {{ customerFirstName }},
                                                                </font>
                                                                <br>
                                                                <font style="font-size:20px; font-weight:bold; color:#197ed2;">
                                                                    Que legal! Recebemos seu pedido ;)
                                                                </font>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="650" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="background-color: #ffffff;">
                                                            <a href="http://www.lojaskd.com.br/areavip/index.php?id=%%Id do pedido%%&utm_source=lojaskd&utm_medium=e-mail&utm_content=Novo&utm_campaign=transacional"
                                                               target="_blank" style="text-decoration:none">
                                                                <img class="img_scale" src="http://assets.lojaskd.com.br/campanhas/2014/Newsletter/transacional/Template-email_APROVACAO.jpg"
                                                                     alt="Saiba tudo sobre os seus móveis novos" align="middle">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" valign="middle" style="padding:10px 80px 10px 80px;font-size:12px;color:#4d4d4d;font-family:Helvetica;line-height:15px; text-align:center; background-color:#fff;">
                                                            <span>
                                                                <font style="font-size:18px; color:#197ed2; font-weight:bold;text-align: center;line-height: 20px;">Que bom que voc&ecirc; escolheu decorar com a gente! </font>
                                                                <br>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="middle" style="padding:10px 60px 10px 60px;font-size:12px;color:#4d4d4d;font-family:Helvetica;line-height:15px; text-align:left; background-color:#fff;">
                                                            <span>Seu pedido <font style="font-size:18px; color: #4d4d4d; font-weight:bold;line-height: 2;">#{{ orderId }}</font> feito em
                                                                <font style="font-size:18px; color: #4d4d4d; font-weight:bold;line-height: 2;">{{ orderDate }}</font>
                                                                est&aacute; aguardando confirma&ccedil;&atilde;o de pagamento.
                                                                <br/><br/>
                                                                <p><b>Confira as informa&ccedil;&otilde;es abaixo:</b></p>
                                                                <p>{{ paymentMethod1 }} {{ paymentForm1 }}</p>
                                                                <p>
                                                                {% autoescape %}
                                                                    {{ paymentDescription1|raw }}
                                                                {% endautoescape %}
                                                                </p>
                                                                <p>
                                                                    {% if onlinePaymentBottom1 != 'deposito' %}
                                                                        <table background-color="" width="360"
                                                                               style="background-color: #fff;padding-top: 50px;padding-bottom: 50px;padding-right: 35px;border-left-width: 40px;padding-left: 35px;"
                                                                               bgcolor="#ffffff" height="56" cellspacing="0"
                                                                               cellpadding="0" border="0" align="center">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #4d4d4d; border-radius:3px;line-height: 56px;" height="56" align="center" bgcolor="#ffe01a">
                                                                                    <div style="height:100%;width:100%">
                                                                                        <a href="https://www.lojaskd.com.br/areavip/index.php?id={{ orderId }}&utm_source=lojaskd&utm_medium=e-mail&utm_content=Novo_pagar1&utm_campaign=transacional"
                                                                                           target="_blank"
                                                                                           style="color: #4d4d4d; text-decoration:none;">
                                                                                            {% if onlinePaymentBottom1 == 'pagseguro' %}
                                                                                                Efetuar Pagamento
                                                                                            {% else %}
                                                                                                {% if onlinePaymentBottom1 == 'boleto' %}
                                                                                                    Imprimir Boleto
                                                                                                {% endif %}
                                                                                            {% endif %}
                                                                                        </a>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                {% else %}
                                                                    <div style="padding-bottom: 30px;"></div>
                                                                {% endif %}
                                                                <hr>
                                                                {% if paymentMethod2 %}
                                                                    <p>{{ paymentMethod2 }} {{ paymentForm2 }}</p>
                                                                    <p>{{ paymentDescription2 }}</p>
                                                                    <p>
                                                                        {% if onlinePaymentBottom2 != 'deposito' %}
                                                                            <table background-color="" width="360"
                                                                                   style="background-color: #fff;padding-top: 50px;padding-bottom: 50px;padding-right: 35px;border-left-width: 40px;padding-left: 35px;"
                                                                                   bgcolor="#ffffff" height="56" cellspacing="0" cellpadding="0" border="0"
                                                                                   align="center">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #4d4d4d; border-radius:3px;line-height: 56px;" height="56" align="center" bgcolor="#ffe01a">
                                                                                        <div style="height:100%;width:100%">
                                                                                            <a href="https://www.lojaskd.com.br/areavip/index.php?id={{ orderId }}&utm_source=lojaskd&utm_medium=e-mail&utm_content=Novo_pagar1&utm_campaign=transacional"
                                                                                               target="_blank" style="color: #4d4d4d; text-decoration:none;">
                                                                                                {% if onlinePaymentBottom2 == 'pagseguro' %}
                                                                                                    Efetuar Pagamento
                                                                                                {% else %}
                                                                                                    {% if onlinePaymentBottom2 == 'boleto' %}
                                                                                                        Imprimir Boleto
                                                                                                    {% endif %}
                                                                                                {% endif %}
                                                                                            </a>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        {% else %}
                                                                            <div style="padding-bottom: 30px;"></div>
                                                                        {% endif %}
                                                                {% endif %}
                                                                <br/><br/>
                                                                <font style="font-size:14px; color: #197ed2; font-weight:bold;line-height: 2;">
                                                                    Previs&atilde;o deentrega:
                                                                </font>
                                                                <p>
                                                                    Em {{ orderDeliveryDeadline }} dia(s) &uacute;tei(s) ap&oacute;s confirma&ccedil;&atilde;o de
                                                                    pagamento para {{ orderDeliveryCity }}
                                                                </p>
                                                                <p>
                                                                    *Exceto boleto parcelado. Prazo sujeito a rec&aacute;lculo ap&oacute;s aprova&ccedil;&atilde;o do pedido.
                                                                </p>
                                                                <br/>
                                                                <p align="center"></p>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="full" align="center" width="650" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;">
                                                <tbody>
                                                <tr>
                                                    <td align="left" valign="top" style="padding:10px 60px 0px 60px;font-size:12px;color:#4d4d4d;font-family:Helvetica;line-height:15px; text-align:justify; background-color:#fff;">
                                                        <span>
                                                            {% include 'AppBundle:Emails:order_products.html.twig' %}
                                                            <p align="right">**Total sem frete: R$ {{ subtotal|number_format(2, ',', '.') }}</p>
                                                            <p align="right">Frete: R$ {{ shipping|number_format(2, ',', '.') }}</p>
                                                            <p align="right">Total do pedido: R$ {{ total|number_format(2, ',', '.') }}</p>
                                                            <p align="right">**Descontos s&atilde;o aplicados apenas no valor Total sem frete.</p>
                                                            <br/>
                                                            <table background-color="" width="360" style="background-color: #fff;padding-top: 50px;padding-bottom: 50px;padding-right: 35px;border-left-width: 40px;padding-left: 35px;" bgcolor="#ffffff" height="56" cellspacing="0" cellpadding="0" border="0" align="center">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #4d4d4d; border-radius:3px;line-height: 56px;"
                                                                        height="56" align="center" bgcolor="#ffe01a">
                                                                        <a href="https://www.lojaskd.com.br/areavip/index.php?id={{ orderId }}&utm_source=lojaskd&utm_medium=e-mail&utm_content=Novo_pagar1&utm_campaign=transacional"
                                                                           title="Verifique seu pagamento" target="_blank" style="color: #4d4d4d; text-decoration:none;">
                                                                            <div style="height:100%;width:100%">
                                                                                Verifique seu pagamento
                                                                            </div>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table width="650" height="100" border="0" cellpadding="0" cellspacing="0" align="center" style="background-color:#FFF;">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <table width="597" border="0" cellpadding="0" cellspacing="0" style="font-family:Helvetica, Arial, ans-serif; font-size:12px;">
                                                            <tbody>
                                                            <tr>
                                                                <td class="td_scale nome" width="221"></td>
                                                                <td class="td_scale nome" width="36"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="full" align="center" width="650" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;">
                                                            <tbody>
                                                            <tr>
                                                                <td class="center" align="center" style="margin:0;font-size:13px;color:#aaa;font-family:Arial,sans-serif;line-height:23px;">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="middle" style="padding:10px 60px 10px 60px;font-size:10px;color:#4d4d4d;font-family:Helvetica;line-height:15px; text-align:left; background-color:#fff;">
                                                                    <span>
                                                                        <br/>
                                                                        <p><b>Dados para Entrega</b></p>
                                                                        <p>
                                                                            Nome: {{ customerFirstName }} {{ customerLastName }}
                                                                            <br/>Endere&ccedil;o: {{ deliveryAddress }}
                                                                            , {{ deliveryAddressNumber }} {{ deliveryAddressComplement }}
                                                                            <br/>Bairro: {{ deliveryAddressNeighborhood }}
                                                                            <br/>Cidade: {{ deliveryAddressCity }}
                                                                            <br/>Estado: {{ deliveryAddressState }}
                                                                            <br/>CEP: {{ deliveryAddressZip }}
                                                                            <br/>Telefones: {{ deliveryAddressTelephoneA }} {{ deliveryAddressTelephoneB }}
                                                                            <br/>Refer&ecirc;ncia: {{ deliveryAddressReference }}
                                                                        </p>
                                                                        <br/>
                                                                        <font style="font-size:12px;">
                                                                            <b>ATEN&Ccedil;&Atilde;O:</b>
                                                                            <br/> em caso de troca de endere&ccedil;o de entrega &eacute;preciso solicitar na
                                                                            <a href="http://www.lojaskd.com.br/portal/contato.php?utm_source=lojaskd&utm_medium=e-mail&utm_content=Novo&utm_campaign=transacional" target="_blank" style="font-weight:bold; color: #197ed2">
                                                                                <b>Central de Atendimento</b>
                                                                            </a>.
                                                                        </font><br/><br/>
                                                                        <p><b>Dados do Comprador</b></p>
                                                                        <p>
                                                                            E-mail: {{ customerEmail }}
                                                                            <br/>Nome: {{ customerFirstName }} {{ customerLastName }}
                                                                            <br/>CPF: {{ customerCpf }}
                                                                            <br/>Telefones: {{ deliveryAddressTelephoneA }} {{ deliveryAddressTelephoneB }}
                                                                        </p>
                                                                        <br/>
                                                                        <table background-color="" width="360" style="background-color: #fff;padding-top: 50px;padding-bottom: 50px;padding-right: 35px;border-left-width: 40px;padding-left: 35px;" bgcolor="#ffffff" height="56" cellspacing="0" cellpadding="0" border="0" align="center">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #4d4d4d; border-radius:3px;line-height: 56px;" height="56" align="center" bgcolor="#ffe01a">
                                                                                    <a
                                                                                            href="https://www.lojaskd.com.br/areavip/index.php?id={{ orderId }}&utm_source=lojaskd&utm_medium=e-mail&utm_content=Novo_pagar1&utm_campaign=transacional"
                                                                                            title="Acompanhe sua aprovação"
                                                                                            target="_blank"
                                                                                            style="color: #4d4d4d; text-decoration:none;">
                                                                                        <div style="height:100%;width:100%">
                                                                                            Acompanhe sua aprova&ccedil;&atilde;o
                                                                                        </div>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <br><br>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="space" width="650" align="center" border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                <tr>
                                                    <td height="15" align="center" border="0" cellpadding="0" cellspacing="0"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--Conversa-->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table_scale" border="0" cellpadding="0" cellspacing="0" width="650" align="center" style="padding-top: 25px; padding-bottom: 85px;">
                    <tbody>
                        <tr>
                            <td>
                                <a class="modulados" href="http://www.lojaskd.com.br/portal/contato.php?utm_source=lojaskd&utm_medium=e-mail&utm_content=Novo&utm_campaign=transacional" target="_blank" style="text-decoration:none;">
                                    <img class="img_scale" src="http://assets.lojaskd.com.br/campanhas/2014/Newsletter/Responsivo/email_novo/atendimento2.png?v={{ random(99999999999999999999999999999) }}" style="padding-bottom: 40px;">
                                </a>
                                <table align="center" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr></tr>
                                    </tbody>
                                </table>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="padding-bottom: 40px;">
                                    <tbody>
                                        <tr>
                                            <td style="margin:0px;border-collapse:collapse;text-align:center">
                                                <a href="http://lojaskd.com.br?utm_source=lojaskd&utm_medium=e-mail&utm_content=Novo&utm_campaign=transacional" target="_blank">
                                                    <img class="img_scale" src="http://assets.lojaskd.com.br/campanhas/2014/email/email.gif?v={{ random(99999999999999999999999999999) }}">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="padding-bottom: 40px;">
                                    <tbody>
                                        <tr>
                                            <td style="padding-left:26px;margin:0px;border-collapse:collapse;text-align:center">
                                                <a href="https://www.facebook.com/LojasKD.com.br" target="_blank">
                                                    <img src="http://assets.lojaskd.com.br/campanhas/2014/Newsletter/Responsivo/email_novo/facebook.png?v={{ random(99999999999999999999999999999) }}">
                                                </a>
                                                <a href="https://plus.google.com/+lojaskd" target="_blank">
                                                    <img src="http://assets.lojaskd.com.br/campanhas/2014/Newsletter/Responsivo/email_novo/google.png?v={{ random(99999999999999999999999999999) }}">
                                                </a>
                                                <a href="https://twitter.com/lojaskd" target="_blank">
                                                    <img src="http://assets.lojaskd.com.br/campanhas/2014/Newsletter/Responsivo/email_novo/twitter.png?v={{ random(99999999999999999999999999999) }}">
                                                </a>
                                                <a href="http://www.pinterest.com/lojaskd/" target="_blank">
                                                    <img src="http://assets.lojaskd.com.br/campanhas/2014/Newsletter/Responsivo/email_novo/pinterest.png?v={{ random(99999999999999999999999999999) }}">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table align="center" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="font-size: 11px; font-family: Helvetica, Arial, sans-serif; color: #999999;line-height: 2;"> <b>LojasKD.com.br</b> - Rua Wanda Santos Mullmann, 1373 - Pinhais - PR, CEP 83.323-123</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>