{# app/Resources/views/email/shipper_not_found.html.twig #}
<p>Olá,</p>

<p>Não foi possível encontrar acordo comercial cadastrado para a configuração abaixo:</p>

<p><b>Pedido:</b> {{ order }}</p>
<p><b>Produto:</b> {{ product }}</p>
<p><b>Origem:</b> {{ invoice.uHub }}</p>
<p><b>Cidade:</b> {{ invoice.citys }} / {{ invoice.states }}</p>
<p><b>ID da transportadora:</b> {{ invoice.carrier }}</p>

<p>
    É necessário o cadastro acima para que o cálculo de descarte funcione corretamente.<br>
    Caso tenha dúvida, entre em contato com a TI para verificar um possível problema.
</p>

<p>Obrigado.</p>